.header{
    /* background-color: rgb(158, 161, 131); */
    background-color: rgba(248, 164, 8, 0.24);
    height: 100%;
    text-align: center;
    margin: 0px;
}

.subheading{
    font-size: 30px;
    font-style: italic;
    padding-top: 30px;
    /* color: azure; */
    /* margin: 0px; */
}
.mainheading{
    font-size: 150px;
    margin: 0px;
    color: rgba(218, 34, 34, 0.993);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clock{
    color: rgb(0, 132, 255);
    padding-top: 20px;
    font-size: 50px;
    margin: 100px;
}


button{
 background-color: rgba(255, 140, 0, 0.644);
 border: 0ch;
 border-radius: 5px;
 padding: 5px 16px 5px 16px;
 /* margin: 50px; */
 font-size: 30px;
 margin-left: 10px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,body{
    height: 100%;
    margin: 0px;
}